@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');


/* body */
#main-content{
    margin-top: 40px;
    /* padding-left: 10px;
    padding-right: 10px; */
}

.card-item{
    display: flex;
    flex-wrap: wrap;
}

.card{
    margin-right: 20px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

.btn-outline-info{
    width: 100%;
}