@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');


/* header */
.navbar-brand{
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.nav-item {
    margin-right: 30px;
    font-family: 'Poppins', sans-serif;
}

.navbar-nav{
    margin-left: 40px;
    font-family: 'Poppins', sans-serif;
}
